<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
            <div class="m-3 p-3">
              <p>User Name <%= user.userName %></p>
              <p>Email <%= user.email %></p>
            </div>
            <!-- !logout cutoff on small screen -->
              <a href="/logout" class="col-3 btn btn-secondary btn-lg">Logout</a>
          </div>
          <div class="mt-5">
            <h2 class="display-2">Add Bread Recipe</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <h6 class="display-6">
                  <label for="title" class="form-label m-3 p-3 border-bottom">Title</label>
                </h6>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
             

             <!-- !new -->
             <!-- <div class="mb-3">
                <label for="caption" class="form-label">Type of Bread:</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div> -->
              <!-- <div class="mb-3">
                <label for="basic-url" class="form-label">Type of Bread:</label>
                <select class="form-select" aria-label="Default select example" id="bread" name="bread">
                  <option selected>Please Select</option>
              </div> -->
              <!-- !new  -->
              <!-- https://getbootstrap.com/docs/5.2/forms/form-control/#example -->
              <div class="mb-3">
                <h6 class="display-6">
                <label for="ingredients" class="form-label m-3 p-3 border-bottom">Ingredients</label>
              </h6>
                <textarea class="form-control" id="ingredients" name="ingredients" placeholder="" rows="10"></textarea>
              </div>
              <div class="mb-3">
                <h6 class="display-6">
                <label for="directions" class="form-label m-3 p-3 border-bottom">Preparation</label>
              </h6>
                <textarea class="form-control" id="directions" name="directions" placeholder="" rows="10"></textarea>
              </div>
              <div class="mb-3">
                <h6 class="display-6">
                <label for="tips" class="form-label m-3 p-3 border-bottom">Baking Tips</label>
              </h6>
                <textarea class="form-control" id="tips" name="tips" placeholder="" rows="5"></textarea>
              </div>
              
              <div class="mb-3">
                <h6 class="display-6">
                <label for="imgUpload" class="form-label m-3 p-3 border-bottom ">Image Upload (required)</label>
              </h6>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-secondary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-md-3">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-secondary btn-lg" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>